body{
    background-color: rgb(8, 6, 6);
    color:whitesmoke;
    padding:40px;
    margin-top: 200px;
    margin-left: 100px;
}
body h2
{
    font-size: 40px;
    font-style: italic;
}
span{
    color:cornflowerblue;
    font-size: larger;
    font-weight: 400;
    border-bottom: 2px solid violet;
}
.generate button
{
    color:black;
    width:100px;
    padding:10px;
    border:2px solid rgb(196, 21, 196);
    margin-left:330px;
    margin-top: 10px;
    border-radius: 20px;
    position:relative;
    cursor:pointer;
    z-index:1;
    overflow:hidden;
}
.generate button::before
{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color:rgb(41, 115, 181);
    z-index:-1;
    transition:.5s;
}
.generate button:hover::before
{
    width:100%;
}
.text-box
{
    width:80%;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom:30px;
    border-radius: 10px;
    border:2px solid black;
}
.text-box img
{
    height:30px;
    padding:10px;
    cursor:pointer;
}
.text-box input
{
    outline:0;
    border:0;
    font-size: 25px;
    width:100%;
}